.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #F3E9D2;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo-image {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.app-name {
  font-size: 20px;
  margin: 0;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin-right: 40px;
}

.nav-link {
  color: #114B5F;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 30px;
}
